<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DevsMeet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
    <h1>DevsMeet</h1>
    <p>Welcome to the worlds first dating website for software developers!
    At this site, you can meet other coding wizards just like you!
    Users are matched by location, coding languages, and skill level.</p>
</div>
<div class="container">
<div class="row">
<div class="col-sm-4">
    <h3>User testimonials:</h3>
    <p><i>"I met the love of my life who also helped me develop my cat app!" -Jonah</i></p>
    <br>
    <p><i>"This site really helped me make real connections with like minded people!" - Suzy</i></p>
    <br>
    <p><i>"Dating has never been so easy, and all I had to do was setup a profile" -Marcus</i></p>
    <br>
</div>
    <div class="col-sm-4">
        <img src="../images/online-dating.jpg" alt="online dating">
    </div>
</div>
</div>
</body>
</html>