<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Interests</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">DevsMeet</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ @BASE }}">Home</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="active"><a href="admin">Admin</a> </li>
        </ul>
    </div>
</nav>

<div class="jumbotron">
    <h2>Interests</h2>
</div>

<div class="container mt-4">
    <div class="row col-sm-4" id="interests-form">
        <form action="#" method="POST">
            <label>In-door Interests</label>
            <br>
            <input type="checkbox" id="interest1" name="indoor[]" value="tv">
            <label for="interest1">TV</label><br>
            <input type="checkbox" id="interest2" name="indoor[]" value="gaming">
            <label for="interest2">Gaming</label><br>
            <input type="checkbox" id="interest3" name="indoor[]" value="movies">
            <label for="interest3">Movies</label><br>
            <input type="checkbox" id="interest4" name="indoor[]" value="cooking">
            <label for="interest4">Cooking</label><br>
            <input type="checkbox" id="interest5" name="indoor[]" value="reading">
            <label for="interest5">Reading</label><br>
            <input type="checkbox" id="interest6" name="indoor[]" value="art">
            <label for="interest6">Art</label><br><br>
            <label>Out-door Interests</label><br>
            <input type="checkbox" id="interest7" name="outdoor[]" value="cycling">
            <label for="interest7">Cycling</label><br>
            <input type="checkbox" id="interest8" name="outdoor[]" value="hiking">
            <label for="interest8">Hiking</label><br>
            <input type="checkbox" id="interest9" name="outdoor[]" value="camping">
            <label for="interest9">Camping</label><br>
            <input type="checkbox" id="interest10" name="outdoor[]" value="animals">
            <label for="interest10">Animals</label><br>
            <input type="checkbox" id="interest11" name="outdoor[]" value="swimming">
            <label for="interest11">Swimming</label><br>
            <input type="checkbox" id="interest12" name="outdoor[]" value="running">
            <label for="interest12">Running</label><br>
            <input type="submit" class="btn btn-danger vertical-center" value="Next">
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>