<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile Summary</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">DevsMeet</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ @BASE }}">Home</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron">
    <h2>Your Profile</h2>
</div><hr>
<div class="container mt-4">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <form action="summary" method="POST">
            <div class="mb-3 col-4 mx-auto">
                <p>Name: {{@SESSION.firstname}} {{@SESSION.lastname}}</p>
                <p>Age: {{@SESSION.age}}</p>
                <p>Gender: {{@SESSION.gender}}</p>
                <p>Phone Number: {{@SESSION.phonenumber}}</p>
                <p>Email Address: {{@SESSION.email}}</p>
                <p>State: {{@SESSION.state}}</p>
                <p>Seeking: {{@SESSION.seeking}}</p>
                <p>Interests: {{@SESSION.interest1}} {{@SESSION.interest2}} {{@SESSION.interest3}}
                    {{@SESSION.interest4}} {{@SESSION.interest5}} {{@SESSION.interest6}}
                    {{@SESSION.interest7}} {{@SESSION.interest8}} {{@SESSION.interest9}}
                    {{@SESSION.interest10}} {{@SESSION.interest11}} {{@SESSION.interest12}}</p>
                <p>Biography: </p>
                <p>{{@SESSION.bio}}</p>

            </div>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>