<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile Summary</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">DevsMeet</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ @BASE }}">Home</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron">
    <h2>Your Profile</h2>
</div>
<div class="container mt-4">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <form action="summary" method="POST">
            <div class="mb-3 col-4 mx-auto">
                <p>Name: {{@SESSION.firstname}} {{@SESSION.lastname}}</p>
                <p>Age: {{@SESSION.age}}</p>
                <p>Gender: {{@SESSION.gender}}</p>
                <p>Phone Number: {{@SESSION.phonenumber}}</p>
                <p>Email Address: {{@SESSION.email}}</p>
                <p>State: {{@SESSION.state}}</p>
                <p>Seeking: {{@SESSION.seeking}}</p>
                <p></p>

            </div>
        </form>
    </div>
</div>
</body>
</html>