img {
    width: 100%;
    height: auto;
    alignment: right;
    border-radius: 25%;
}

button {
     border-radius: 20%;
    text-align: center;
 }

#quotes{
    text-indent: 50px;
}

.container {
    height: 200px;
    position: relative;
}

.vertical-center {
    position: center;
}
